@model restaurant.Models.EF.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #userslink {
        color: #bf9e71 !important;
    }
</style>

<div class="card shadow container col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
    <div class="card-body">
        <h4 class="text-left text-info"><span class="font-weight-normal">Destail User</span></h4>
        <hr class="text-dark" />
        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label class="control-label">User ID<span class="text-danger">*</span></label>
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ID, " ", new { @class = "text-danger" })
            </div>

            <div class="form-group col-12 col-md-6">
                <label class="control-label">Role name<span class="text-danger">*</span></label>
                @Html.EditorFor(model => model.Role.NameRoles, null, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Role.NameRoles, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-12 col-md-6">
                <label class="control-label">User name<span class="text-danger">*</span></label>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.UserName, " ", new { @class = "text-danger" })
            </div>

            <div class="form-group col-12 col-md-6">
                <label class="control-label">Email<span class="text-danger">*</span></label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-12", @type = "email", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Email, " ", new { @class = "text-danger" })
            </div>

            <div class="form-group col-12 col-md-6">
                <label class="control-label">PassWord<span class="text-danger">*</span></label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-12", @type = "password", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Password, " ", new { @class = "text-danger" })
            </div>

            <div class="form-group col-12 col-md-6">
                <label class="control-label">Phone number<span class="text-danger">*</span></label>
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control col-12", @type = "tel", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, " ", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 ml-3 col-md-10 p-0">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-outline-warning" })
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-outline-dark" })
            </div>
        </div>

    </div>
</div>
