@model restaurant.Models.EF.User

@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-login">
    <div class="card shadow container col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 text-white bg-form">
        <div class="card-body">
            <h4 class="text-left text-success"><span class="font-weight-normal">Account management</span></h4>
            <hr class="text-dark" />
            @using (Html.BeginForm("Manager","Account",FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="row">
                        <div class="col-12 mx-auto text-center text-success">
                            <h5>
                                @ViewBag.SuccessMessage
                            </h5>
                        </div>
                        <div class="col-6 mx-auto text-center">
                            <img src="~/images/profile.jpg" class="rounded-circle" width="100%" />
                        </div>
                        <div class="col-6">
                            <div class="form-group col-12">
                                <label class="control-label">User Name<span class="text-danger">*</span></label>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Ten Nguoi Dung", @readonly = "Readonly", @id = "user", @required = "Required" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-12">
                                <label class="control-label">Phone Number<span class="text-danger">*</span></label>
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "PhoneNumber", @Type = "tel", @pattern = "[0-9]{10}", @readonly = "Readonly", @id = "phonenumber", @resquired = "Required" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-12">
                                <label class="control-label">Email<span class="text-danger">*</span></label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Email", @Type = "email", @readonly = "Readonly", @resquired = "Required" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            @*<div class="form-group col-12">
                                <label class="control-label">PassWord<span class="text-danger">*</span></label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "PassWord", @Type = "password", @readonly = "Readonly", @resquired = "Required" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>*@

                            <div class="form-group mt-5">
                                <div class="col-md-offset-2 ml-3 col-md-10 p-0">
                                    <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">
                                        Save
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content text-dark">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Enter your password to finish editing your account</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group col-12">
                                                        <label class="control-label">PassWord<span class="text-danger">*</span></label>
                                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "PassWord", @Type = "password", @readonly = "Readonly", @resquired = "Required" } })
                                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <label class="control-label">Confirm Password<span class="text-danger">*</span></label>
                                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "PassWord", @Type = "password", @readonly = "Readonly", @resquired = "Required" } })
                                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" value="Save" class="btn btn-outline-warning" />
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<input type="submit" value="Save" class="btn btn-outline-warning" />*@
                                    @Html.ActionLink("Back to List", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-outline-dark" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $("#user").click(function () {
            $("#user").removeAttr('readonly');
        });
        $("#phonenumber").click(function () {
            $("#phonenumber").removeAttr('readonly');
        });
        $("body").mouseout(function () {
            $("#user, #phonenumber").attr('readonly', 'readonly');
        });

    });
</script>