@model IEnumerable<restaurant.Models.EF.Order>
@*@using PagedList.Mvc
@model PagedList.IPagedList<restaurant.Models.EF.Order>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Page Heading -->
@*<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-white">Loai San Pham</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm text-white btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>*@

<!-- Content Row -->
<div class="row text-white mx-0">
    <div class="col-10 m-auto" style="background-color: #0000004a;">
        <div class="card-body px-0">
            <h2>History Order</h2>
            @*<div class="d-flex">
                <div class="ml-auto">
                    @using (Html.BeginForm())
                    {
                        <div class="form-inline form-group">
                            <input id="keyword" name="keyword" class="form-control" placeholder="Nhap tu khoa can tim" value="@ViewBag.Keyword" />
                            <input id="page" name="page" value="1" hidden />
                            <button type="submit" class="btn btn-primary ml-3">Tim Kiem</button>
                        </div>
                    }
                </div>
            </div>*@
        </div>
        <div class="overflow-auto">
            <table class="table table-sm table-hover table-striped text-white">
                <thead>
                    <tr>
                        <th>
                            User name
                        </th>
                        <th>
                            Order date
                        </th>
                        <th>
                            Product's name
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Product price
                        </th>
                        <th>
                            Discount
                        </th>
                        <th>
                            Total payment
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody id="DataSearching">
                    @foreach (var item in Model)
                    {
                        if (Session["ID"] != null && item.UserID == Session["ID"].ToString())
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                            @item.OrderDate.Value.ToString("dd/MM/yyyy HH:mm:tt")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.NameProduct)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantily)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Status)*@
                            @{
                                string classCss = (bool)item.Status ? "btn-success" : "btn-danger";
                                string content = (bool)item.Status ? "have shipped" : "shipping";
                            }

                            <button class="btn btn-block btn-sm @classCss border-dark">@content</button>
                        </td>
                    </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
        @*<div>
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { page = Page, pageSize = ViewBag.PageSize, keyword = ViewBag.Keyword }))
        </div>*@
    </div>
</div>
<div class="container-fluid w-100 content-padding" style="background-color: #bf9e71 !important;">
    <div class="row text-center mt-4">
        <div class="col-xs-12 col-sm-6 col-md-4 ">
            <p><span class="border border-dark icon-service"><i class="far fa-address-card"></i></span></p>
            <h3>EASY TO ORDER</h3>
            @*<p>
                A comprehensive store for digital and large-scale orders, online booking, POS, online payments,
                customer data collection, customer retention and marketing solutions.
            </p>*@
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <p><span class="border border-dark icon-service"><i class="fas fa-shipping-fast"></i></span></p>
            <h3>FASTEST DELIVERY</h3>
            @*<p>
                Quickly connect with the largest shipping companies in Vietnam and choose the fastest and
                cheapest shipping unit, customers can be assured of no worries.
            </p>*@
        </div>
        <div class="col-sm-12 col-md-4">
            <p><span class="border border-dark icon-service"><i class="fas fa-coffee"></i></span></p>
            <h3>QUALITY COFFEE</h3>
            @*<p>
                The quality of sweetness in coffee brings mellow and gentle taste, the freshness and perfection
                of the coffee bean brings satisfaction to customers..
            </p>*@
        </div>
    </div>
</div>

<link href="~/Content/PagedList.css" rel="stylesheet" />


@*<script>
        $(document).ready(function () {
            $("#keyword").click(function () {
                var SearchValue = $("#keyword").val();
                var SetData = $("#DataSearching");
                SetData.html("");

                $.ajax({
                    type: "post";
                    url: "Castegories/Index?keyword" + SearchValue,
                    contentType: "html",
                    success: function (result)
                });
            });
        });
    </script>*@