@*@using Microsoft.AspNet.Identity*@
@*@model restaurant.Models.EF.User*@
@*@model IEnumerable<restaurant.Models.EF.User>*@
@*@if (Request.IsAuthenticated)*@

@using (Html.BeginForm(FormMethod.Post))
{
    //if (Session["ID"] != null)
    if (/*User.Identity.IsAuthenticated && */Session["ID"] != null)
    {
        @*@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()*@

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item p-2 dropdown">
                <a href="#" class="text-center font-weight-bold text-white" data-bs-toggle="dropdown" style="text-decoration: none;">
                    <img src="~/images/profile.jpg" class="rounded-circle" width="30" />
                    @Session["UserName"].ToString()
                </a>
                <ul class="dropdown-menu drop-menu text-center">
                    <li>
                        <a href="@Url.Action("Manager", "Account" ,new { id = Session["ID"].ToString() })" class="text-center font-weight-bold text-white dropdown-item border-bottom-animation drop-text" style="text-decoration: none;">
                            <i class="far fa-address-card"></i> Manager
                        </a>
                    </li>
                    <li>
                        @Html.ActionLink(" History", "HistoryOrder", "Home", routeValues: null, htmlAttributes: new { id = "eventLink", @class = "dropdown-item drop-text font-weight-bold border-bottom-animation fas fa-gift" })
                    </li>
                </ul>
            </li>
            <!--<li class="nav-item p-2">-->
                @*@Html.ActionLink("edit", "Manager", "Account", new { id = Session["ID"].ToString() }, htmlAttributes: new { @class = "btn btn-sm text-white btn-outline-warning" })*@

                <!--<a href="@Url.Action("Manager", "Account" ,new { id = Session["ID"].ToString() })" class="text-center font-weight-bold text-white" style="text-decoration: none;">
                    <img src="~/images/profile.jpg" class="rounded-circle" width="30" />
                    @Session["UserName"].ToString()-->
                    @*@User.Identity.Name*@
                    @*@(ViewData["FullName"])*@
                <!--</a>
            </li>-->
            <li class="nav-item p-2" style="text-decoration: none;">
                @Html.ActionLink(" Log Off", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "logoutlink", @class = "font-weight-bold border-bottom-animation fas fa-power-off" })
            </li>
        </ul>
        //}
    }
    if (/*User.Identity.IsAuthenticated && */Session["ID"] == null)
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item p-2">

                @Html.ActionLink(" Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginlink", @class = "font-weight-bold border-bottom-animation fas fa-user" })

            </li>
            <li class="nav-item p-2">

                @Html.ActionLink(" Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerlink", @class = "font-weight-bold border-bottom-animation fas fa-sign-in-alt" })

            </li>
        </ul>
    }

}